body {
    background-color: #fcba03;
    color: black;
    font-family: 'Courier New', monospace;
}

h1, h2{
  text-align: center;
}

    #canvas-container {
        border: 1px solid #00FF00;
        background-color: #001F33;
        padding: 10px;
    }

    canvas {
        border: 1px solid #00FF00;
    }